<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('partials/nav'); %>   
    
    <h1><%= title %></h1>
    
    <ul>
        <% developers.forEach(developer => { %>
            <li><a href="<%= developer.url %>"><%= developer.name %></a></li>
        <% }) %>
    </ul>

    <a href="/developers/add">Add new</a>

  </body>
</html>
