<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
    
  </head>
  <body class="body">

    <%- include('partials/nav'); %>   

    <main class="wrapper flex-grow bg-white shadow">
      <h1 class="title mb-2"><%- title %></h1>

      <div class="grid grid-cols-3 gap-4">
        <div class="max-h-96 max-w-full rounded overflow-hidden col-span-3 md:col-span-1">
          <% if (game.image) { %>
            <img src="/images/games/<%= game.image %>" alt="cover" srcset="" class="overflow-hidden object-cover max-w-sm mx-auto md:w-full">
          <% } else {%>
            <img src="/images/games/default.jpg" alt="cover" srcset="" class="overflow-hidden w-full object-cover">
          <% } %>     
        </div>  
  
        <div class="col-span-3 md:col-span-2">
          <h4 class="subtitle">Description</h4>
          <p class="mt-2">
            <%= game.description %> 
          </p>
        </div>
      

        <div>
          <h4 class="subtitle">Price</h4> 
          <p class="mt-1">
            <%= game.price %> 
          </p>
        </div>

        <div>
          <h4 class="subtitle">Stock</h4>
          <p>
            <%= game.stock %>
          </p>
        </div>

        <div>
          <h4 class="subtitle">Release</h4>
          <p>
            <%= game.release_formatted %>
          </p>
        </div>

        <div>
        	<h4 class="subtitle">Developer</h4>
        	<p>
        	  <%= game.developer.name %>
        	</p>
        </div>

        <div>
          <h4 class="subtitle">Genre </h4>
            <ul class="flex space-x-5">
                <% game.genre.forEach(genre => { %>
                    <li><%= genre.name %> </li>
                <% }) %>
            </ul>
        </div>
    </div>
    
      <div class="flex space-x-10 mt-10 justify-center">
        <a href="/games/update/<%= game._id %>" class="btn bg-indigo-500">Update</a>
  
        <form action="/games/delete/<%= game._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn bg-red-600">Delete</button>
        </form>
      </div>

    </main>

    <footer class="bg-gray-900 py-4 h-18 w-full">
      <a href="https://github.com/lucianomazzuca" target="_blank" class="">
        <div class="wrapper flex items-center justify-end h-full hover:text-indigo-500 m">
          <img src="/images/github-logo.png" alt="" class="h-full">
          <span class="text-white ml-4 text-lg">lucianomazzuca</span>
        </div>
      </a>
  </footer>
  
  <script src="/javascripts/dropdown.js"></script>

  </body>
</html>
