<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body>

    <%- include('partials/nav'); %>   

    
    <div class="wrapper flex flex-col items-center">
        <h1 class="font-semibold text-2xl my-4 text-left "><%= title %></h1>
        
        <form action="/games/add" 
            method="POST" 
            enctype="multipart/form-data"
            class="w-full max-w-xl"
            >
            <div class="form-group">
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="title" 
                    class="input"
                    value=<%= typeof game != 'undefined' ? game.title : '' %>
                >
                <small id="errorTitle" class="text-red-600"><%= typeof errors != 'undefined' && errors.title ? errors.title.msg : '' %> </small>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input 
                    type="file"
                    name="image"
                    value=<%= typeof game != 'undefined' ? game.image : '' %>
                    class="input"
                    accept="image/*"
                >
            </div>
            
            <div class="form-group">
                <label for="description">Description</label>
                <textarea  
                    name="description" 
                    id="description" 
                    cols="30" 
                    rows="10" 
                    class="input"
                ><%= typeof game != 'undefined' ? game.description : '' %></textarea>
                <small id="errorTitle" class="text-red-600"><%= typeof errors != 'undefined' && errors.description ? errors.description.msg : '' %> </small>
            </div>
            <div class="form-group">
                <label for="number">Price</label>
                <input 
                    type="text" 
                    name="price"
                    class="input"
                    value=<%= typeof game != 'undefined' ? game.price : '' %>
                >
                <small id="errorTitle" class="text-red-600"><%= typeof errors != 'undefined' && errors.price ? errors.price.msg : '' %> </small>

            </div>
            <div class="form-group">
                <label for="release">Release</label>
                <input 
                    type="date" 
                    name="release"
                    class="input"
                    value=<%= typeof game != 'undefined' ? game.release : '' %>
                >
                <small id="errorTitle" class="text-red-600"><%= typeof errors != 'undefined' && errors.release ? errors.release.msg : '' %> </small>

            </div>
            <div class="form-group">
                <label for="stock">Stock</label>
                <input 
                    type="text" 
                    name="stock"
                    class="input"
                    value=<%= typeof game != 'undefined' ? game.stock : '' %>
                >
                <small id="errorTitle" class="text-red-600"><%= typeof errors != 'undefined' && errors.stock ? errors.stock.msg : '' %> </small>

            </div>
            <div class="form-group">
                <label for="developer">Developer</label>
                <select name="developer" id="developer" class="input">
                    <% developers.forEach(developer => { %>
                        <!-- When updating game, show current developer selected -->
                        <option 
                            value= <%= developer._id %>
                        >
                            <%= developer.name %>
                        </option>
                    <% }) %>
                </select>
            </div>
    
            <p class="mb-1">Genre</p>
            <div class="select-group" >
                <% genres.forEach(genre => { %>
                    <!-- When updating game, check categories for the current game -->
                    <input 
                        type="checkbox" 
                        id="<%= genre.name %>" 
                        name="genre" 
                        value="<%= genre._id %>"
                    >
                    <label for="<%= genre.name %>"><%= genre.name %></label>
                <% }) %>
            </div>
    
            <button type="submit" class="btn bg-green-500 hover:bg-green-600 mt-4">Submit</button>
        </form>
    </div>

  </body>
</html>

