<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include('partials/nav'); %>   

    
    <h1><%= title %></h1>
    
    <form action="/games/add" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input 
                type="text" 
                name="title" 
                value=<%= typeof game != 'undefined' ? game.title : '' %>
            >
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <textarea  
                name="description" 
                id="description" 
                cols="30" 
                rows="10" 
            ><%= typeof game != 'undefined' ? game.description : '' %></textarea>
        </div>
        <div class="form-group">
            <label for="price">price</label>
            <input 
                type="text" 
                name="price"
                value=<%= typeof game != 'undefined' ? game.price : '' %>
            >
        </div>
        <div class="form-group">
            <label for="release">release</label>
            <input 
                type="text" 
                name="release"
                value=<%= typeof game != 'undefined' ? game.release : '' %>
            >
        </div>
        <div class="form-group">
            <label for="stock">stock</label>
            <input 
                type="text" 
                name="stock"
                value=<%= typeof game != 'undefined' ? game.stock : '' %>
            >
        </div>
        <div class="form-group">
            <label for="developer">developer</label>
            <select name="developer" id="developer">
                <% developers.forEach(developer => { %>
                    <!-- When updating game, show current developer selected -->
                    <option 
                        value= <%= developer._id %>
                        <%= (typeof game != 'undefined' && developer._id.toString() === game.developer._id.toString()) ? 'selected' : '' %>  
                    >
                        <%= developer.name %>
                    </option>
                <% }) %>
            </select>
        </div>

        <p>genre</p>
        <div class="select-group">
            <% genres.forEach(genre => { %>
                <!-- When updating game, check categories for the current game -->
                <input 
                    type="checkbox" 
                    id="<%= genre.name %>" 
                    name="genre" 
                    value="<%= genre._id %>"
                    <% if (typeof game != 'undefined')  {%>  
                        <%= game.genre.includes(genre._id) ? 'checked' : '' %> 
                    <% } %> 
                >
                <label for="<%= genre.name %>"><%= genre.name %></label>
            <% }) %>
        </div>

        <button type="submit">Add</button>
    </form>

  </body>
</html>

