<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body class="bg-gray-100">

    <%- include('partials/nav'); %>   

    <main class="wrapper">

      <h1 class="my-4 text-xl"><%= title %></h1>

      <a href="/games/add" class="mb-4">
        <div class="text-white rounded-full px-1 py-1 bg-indigo-600 inline-block mb-4 shadow-md hover:bg-indigo-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
        </div>
      </a>

      <div class="grid grid-cols-fit-items gap-3">
          <!-- Game Cards go here -->

          <% games.forEach(game => { %>
            <div class="flex flex-col bg-white rounded shadow-md overflow-hidden max-w-4xl cursor hover:shadow-lg">
              <% if (game.image) { %>
                <img src="/images/games/<%= game.image %>" alt="" srcset="" class="w-full h-48">
              <% } else {%>
                <img src="/images/games/default.jpg" alt="" srcset="" class="w-full h-48">
              <% } %> 
              <div class="px-4 py-2 flex flex-col justify-evenly h-40">
                  <span class="font-semibold text-lg h-10 flex-auto"><%= game.title %></span>
                  <span class="text-lg flex-auto">$60</span>
                  <div class=" justify-self-end flex-auto">
                      <a href="<%= game.url %>" class="bg-indigo-500 text-white rounded px-4 py-2 hover:bg-indigo-400">Details</a>
                  </div>
              </div>
          </div>
        <% }) %>


      </div>
      
  </main>




  <script src="javascripts/dropdown.js"></script>



  </body>
</html>
