<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body class="body">

    <%- include('partials/nav'); %>   
    
    <main class="wrapper flex-grow">
      <h1 class="title"><%= title %></h1>
      
      <div class="flex space-x-5">
        <a href="/genres/update/<%= genre._id %>" class="btn bg-indigo-500">Edit Genre</a>
    
        <form action="/genres/delete/<%= genre._id %>?_method=DELETE" method="POST">      
          <button type="submit" class="btn bg-red-600">Delete</button>
        </form>
      </div>

      <h2 class="subtitle mt-8 mb-2">Games:</h2 class="subtitle">

        <div class="grid grid-cols-2 gap-2 md:grid-cols-fit-items md:gap-4 ">
          <!-- Game Cards go here -->

          <% games.forEach(game => { %>
            <div class="flex flex-col bg-white rounded shadow-lg overflow-hidden max-w-4xl cursor transform transition duration-300 hover:scale-105">
              <% if (game.image) { %>
                <img src="/images/games/<%= game.image %>" alt="" srcset="" class="w-full h-60 object-cover object-top">
              <% } else {%>
                <img src="/images/games/default.jpg" alt="" srcset="" class="w-full h-60">
              <% } %> 
              <div class="px-4 py-2 flex flex-col justify-evenly h-40">
                  <span class="font-semibold text-gray-900 text-lg h-10 flex-auto leading-5"><%= game.title %></span>
                  <span class="text-lg flex-auto justify-self-center font-semibold text-gray-700">$<%= game.price %></span>
                  <div class=" justify-self-end flex-auto">
                      <a href="<%= game.url %>" class="block text-center bg-indigo-500 text-white rounded px-4 py-2 hover:bg-indigo-400">Details</a>
                  </div>
              </div>
          </div>
        <% }) %>

        </div>
  
    </main>
    
    <%- include('partials/footer') %> 
    
  </body>
</html>
