<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/tailwind.css' />
  </head>
  <body class="body">

    <%- include('partials/nav'); %>   

    <main class="wrapper flex-grow flex flex-col items-center">

      <h1 class="font-semibold text-2xl my-4 text-left "><%= title %></h1>
      
      <form action="/genres/add" method="POST" class="w-full max-w-xl">
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" class="input">
              <small class="text-red-600" id="errorName"><%= typeof errors != 'undefined' ? errors[0].msg : '' %> </small>
          </div>
  
          <button type="submit" class="btn bg-green-500 hover:bg-green-600 mt-4">Submit</button>
      </form>
    </main>

    <%- include('partials/footer') %> 
    
  </body>
</html>
